@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" data-aos="flip-up">
    <h1>Beach Resorts <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></h1>
    
    <p class="lead">A selection of top holiday destinations around the world</p>
    @Html.ActionLink("View All Resorts", "Index", "Resorts",null, new { @class = "btn btn-primary btn-lg light-shadow" })
</div>





   