<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.beachresorts.mkvportfolio.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://beachresorts.mkvportfolio.com:8172/MsDeploy.axd?site=maatonmies-001-subsite2</MSDeployServiceURL>
    <DeployIisAppPath>maatonmies-001-subsite2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\maatonmies-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HoidayResorts.DataContexts.HolidayResortsDb" Order="1" Enabled="True">
          <Destination Path="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HoidayResorts.DataContexts.HolidayResortsDb, HoidayResorts" MigrationConfiguration="HoidayResorts.Migrations.Configuration, HoidayResorts" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source=sql6001.smarterasp.net;Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="HoidayResorts.DataContexts.HolidayResortsDb-Web.config Connection String">
      <ParameterValue>Data Source="MSSQL: sql6001.smarterasp.net";Initial Catalog=DB_A2277E_HolidayResortsDb;Persist Security Info=True;User ID=DB_A2277E_HolidayResortsDb_admin;Password=Glingglo11;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HoidayResorts.DataContexts.HolidayResortsDb" />
  </ItemGroup>
</Project>